apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: todo-frontend
  name: todo-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-frontend
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: todo-frontend
    spec:
      containers:
      - image: quay.io/aminego/todo-frontend:latest
        name: todo-frontend
        resources: {}
status: {}
